<%- layout('layout')  %>
<div class="container">
    <!-- Profesor -->
    <div class="row mt-5">
        <div class="col offset-1">
            <h3 class="mt-5 mb-4">Añadir Profesor</h1>
        </div>
    </div>

    <form action="/profesor/crear" method="POST">
        
        <div class="form-row justify-content-center">
            <div class="form-group col-md-5">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control">
            </div>
            <div class="form-group col-md-4 offset-1">
                <label for="peso">Apellidos</label>
                <input type="text" name="apellidos" id="apellidos" class="form-control">
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-md-5">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono" id="telefono" class="form-control">           
            </div>
            <div class="form-group col-md-4 offset-1">
                <label for="despacho">Despacho</label>
                <input type="text" name="despacho" id="despacho" class="form-control">            
            </div>
        </div>    
        <div class="form-row ">            
            <div class="form-group col-md-5 offset-1">
                <label for="grado">Grado</label>
                <input type="text" name="grado" id="grado" class="form-control">
            </div>        
        </div>
        
        <div class="row mt-2 mb-4">
            <div class="col-1 offset-1">
                <a href="/" class="btn btn-secondary">Cancelar</a>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>


